<section class="section-about">
  <div class="about_container">
    <!-- Верхній блок: 2 колонки -->
    <div class="about_top">
      <div class="about_left">
        <p class="about_label">About us</p>
        <h2 class="about_title">Velvety facial and skincare company</h2>
      </div>

      <div class="about_right">
        <p class="about_text">
          Velvety is an indigenous company that specializes in the manufacture
          and development of facial and skincare products using the medicinal
          properties of the traditional First Nations pharmacopoeia, with a
          concern for sustainable development.
        </p>

        <p class="about_text">
          The products offered, whose benefits have been scientifically
          confirmed, are 100% natural and allow you to take care of your body
          and mind: calming teas, energizing infusions, anti-inflammatory
          essential oils, anti-age soaps and creams, etc.
        </p>
      </div>
    </div>

    <hr class="about_divider" />

    <!-- Нижній блок: "As seen in" + логотипи -->
    <div class="about_bottom">
      <p class="about_seen">As seen in</p>

      <ul class="about_list-logos" aria-label="Featured in">
        <li class="about_logo">
          <svg class="vogue" width="120" height="36" aria-label="Vogue">
            <use href="/img/icons.svg#vogue"></use>
          </svg>
        </li>

        <li class="about_logo">
          <svg class="forbes" width="120" height="36" aria-label="Forbes">
            <use href="/img/icons.svg#forbes"></use>
          </svg>
        </li>

        <li class="about_logo">
          <svg
            class="thought-catalog"
            width="160"
            height="48"
            aria-label="Thought Catalog"
          >
            <use href="/img/icons.svg#thought-catalog"></use>
          </svg>
        </li>

        <li class="about_logo">
          <svg
            class="womens-health"
            width="160"
            height="40"
            aria-label="Women’s Health"
          >
            <use href="/img/icons.svg#womens-health"></use>
          </svg>
        </li>

        <li class="about_logo">
          <svg class="wwd" width="90" height="40" aria-label="WWD">
            <use href="/img/icons.svg#wwd"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="cta-section">
  <div class="cta-container">
    <h4 class="cta-title">Let's see the processing of our products</h4>
    <!-- <button type="button" class="cta-btn"></button> -->
    <a href="">
      <svg class="cta-icon" width="66" height="40" aria-label="Vogue">
        <use href="/img/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
