<section class="diagnosis">
    <div class="diagnosis-container">
        <div class="diagnosis-media" aria-hidden="true">
            <img src="/img/diagnosis/image.webp" alt="diagnosis">
        </div>

        <div class="diagnosis-box">
            <div class="diagnosis-content">
                <p class="diagnosis-subtitle">Try Our Service</p>
                <h1 class="diagnosis-title">
                    Your skin diagnosis in 3 minutes
                </h1>
                <p class="diagnosis-text">
                    Say hello to a more radiant, healthier you with personalized skincare
                    that's as unique as you are.
                </p>
            </div>

            <button class="diagnosis-btn" type="button"> Start my diagnosis
                <svg class="arrow-icon" width="36" height="24" aria-hidden="true">
                    <use href="/img/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>