<section class="featured">
  <div class="featured-cont">
    <h6 class="featured-tittle-smal">Our featured products</h6>
    <h2 class="featured-title-big">
      Facial and skincare, natural and certified organic
    </h2>
  </div>
  <div class="featured-product-cont">
    <ul class="featured-list">
      <!-- first item -->
      <li class="featured-item">
        <picture>
          <source
            srcset="
              /img/featured/des-quadro.webp   .webp 1x,
              /img/featured/des-quadro@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/featured/mob-quadro.webp    1x,
              /img/featured/mob-quadro@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/featured/mob-quadro.webp"
            alt="CHICORI product photo"
            class="featured-prod-img"
          />
        </picture>
        <div class="featured-info">
          <h6 class="featured-title">CHICORI</h6>

          <div class="featured-sp-rat">
            <span class="featured-span">&#36;20</span>
            <!-- RATINGS -->
            <ul class="featured-rating" aria-label="Rating: 5 out of 5">
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item featured-rat-val">
                <span>4.0</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!-- second item -->
      <li class="featured-item">
        <picture>
          <source
            srcset="
              /img/featured/des-egss.webp      1x,
              /img/featured/des-egss@2x-1.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/featured/mob-egss.webp      1x,
              /img/featured/mob-egss@2x-1.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/featured/des-egss.webp"
            alt="NOTORIOUS botle on a table"
            class="featured-prod-img"
          />
        </picture>
        <div class="featured-info">
          <h6 class="featured-title">NOTORIOUS</h6>

          <div class="featured-sp-rat">
            <span class="featured-span">&#36;23</span>
            <!-- RATINGS -->
            <ul class="featured-rating" aria-label="Rating: 5 out of 5">
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item featured-rat-val">
                <span>5.0</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!-- third item -->
      <li class="featured-item">
        <picture>
          <source
            srcset="
              /img/featured/des-pipet.webp      1x,
              /img/featured/des-pipet@2x-2.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/featured/mob-pipet.webp      1x,
              /img/featured/mob-pipet@2x-2.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/featured/mob-pipet.webp"
            alt="HOLOCENA botle with pipette"
            class="featured-prod-img"
          />
        </picture>
        <div class="featured-info">
          <h6 class="featured-title">HOLOCENA</h6>

          <div class="featured-sp-rat">
            <span class="featured-span">&#36;20</span>
            <!-- RATINGS -->
            <ul class="featured-rating" aria-label="Rating: 5 out of 5">
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item">
                <svg
                  class="featured-icon featured-icon-star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#star"></use>
                </svg>
              </li>
              <li class="featured-rating-item featured-rat-val">
                <span>5.0</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
