<header class="header">
  <!-- logo -->
  <div class="header-container">
    <div class="header-logo-container">
      <a class="header-logo-link" href="./">
        <svg
          class="header-icon-logo"
          width="112"
          height="36"
          aria-label="Логотип"
        >
          <use href="/img/main-logo.svg#main-logo"></use>
        </svg>
      </a>
    </div>

    <nav class="header-nav">
      <div class="header-nav-container">
        <div class="header-nav-left">
          <ul class="header-nav-list">
            <li class="page">
              <a href="">PAGES </a>
              <button class="header-button" id="page-toggle" type="button">
                <svg
                  class="header-icon-logo"
                  width="32"
                  height="32"
                  aria-label="Логотип"
                >
                  <use href="/img/icons.svg#icon-Vector-down"></use>
                </svg>
              </button>
            </li>
            <li class="shop"><a href="">SHOP</a></li>
            <li class="about"><a href="">ABOUT</a></li>
          </ul>
        </div>
        <div class="header-nav-right">
          <ul class="header-right-list">
            <li class="login"><a href="">LOGIN</a></li>
            <li class="cart"><a href="">CART (0)</a></li>
          </ul>
        </div>
        <button class="burger" type="button">
          <svg class="burger-icon" width="20" height="20">
            <use href="/img/icons.svg#menu"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>

  <!-- ===== MOBILE MENU ====== -->
  <!-- <div class="mobile-menu"></div> -->
</header>

<!-- 
  <div class="mobile-menu-logo">
      <a class="mobile-menu-logo-link" href="./">
        <svg
          class="mobile-icon-logo"
          width="115"
          height="36"
          aria-label="Логотип"
        >
          <use href="/img/main-logo.svg#main-logo"></use>
        </svg>
      </a>
    </div>

    <nav class="mobile-nav">
      <div class="mobile-nav-container">
        <div class="mobile-nav-left">
          <ul class="mobile-nav-list">
            <li class="page">
              <a href="">PAGES </a>
              <button class="mobile-button" id="page-toggle" type="button">
                <svg
                  class="mobile-icon-logo"
                  width="32"
                  height="32"
                  aria-label="Логотип"
                >
                  <use href="/img/icons.svg#icon-Vector-down"></use>
                </svg>
              </button>
            </li>
            <li class="mob-shop"><a href="">SHOP</a></li>
            <li class="about"><a href="">ABOUT</a></li>
          </ul>
        </div>
        <div class="mobile-nav-right">
          <ul class="mobile-right-list">
            <li class="login"><a href="">LOGIN</a></li>
            <li class="cart"><a href="">CART (0)</a></li>
          </ul>
        </div>
        <button class="mobile-burger" type="button">
          <svg class="burger-icon" width="20" height="20">
            <use href="/img/icons.svg#menu"></use>
          </svg>
        </button>
      </div>
    </nav> -->
