<!-- HERO SECTION -->
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Let nature take care of your body and soul</h1>

    <a class="hero-cta" href="/shop" aria-label="Shop now">
      <span class="hero-cta-text">Shop now</span>
      <svg class="hero-cta-icon" width="31" height="19">
        <use href="/img/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
  <div class="hero-product">
    <img
      class="hero-product-image"
      src="/img/hero/Velvety2.webp"
      alt="Product image"
    />
  </div>

  <!-- dots slide -->
  <div class="hero-dots" id="HeroId" role="tablist" aria-label="Hero slides">
    <!-- arrow left -->
    <button class="arrorw-btw" aria-label="Slide 4">
      <svg class="arrow-svg" width="41" height="39">
        <use href="/img/icons.svg#arrow-right"></use>
      </svg>
    </button>
    <!-- dot items -->
    <button class="dot" aria-label="Slide 1" aria-current="true">
      <svg class="dot-vs active" width="8" height="8">
        <use href="/img/icons.svg#dot"></use>
      </svg>
    </button>

    <button class="dot" aria-label="Slide 2">
      <svg class="dot-vs" width="8" height="8">
        <use href="/img/icons.svg#dot"></use>
      </svg>
    </button>

    <button class="dot" aria-label="Slide 3">
      <svg class="dot-vs" width="8" height="8">
        <use href="/img/icons.svg#dot"></use>
      </svg>
    </button>

    <button class="dot" aria-label="Slide 4">
      <svg class="dot-vs" width="8" height="8">
        <use href="/img/icons.svg#dot"></use>
      </svg>
    </button>
    <!-- arror  -->
    <button class="arrorw-btw" aria-label="Slide 4">
      <svg class="arrow-svg" width="41" height="39">
        <use href="/img/icons.svg#arrow-left"></use>
      </svg>
    </button>
  </div>
</section>
