<section class="products">
    <div class="products-container">

        <div class="products-header">
            <div class="products-header-text">
                <p class="products-label">All Products</p>
                <h2 class="products-title">Mild skincare & facial routine</h2>
            </div>
            <div class="products-filters">
                <button class="filter-item filter-item-active">All needs</button>
                <button class="filter-item">Protect</button>
                <button class="filter-item">Regenerates</button>
                <button class="filter-item">Revitalizes</button>
                <button class="filter-item">Feeds</button>
                <button class="filter-item">Regulates</button>
                <button class="filter-item">Purifies</button>
                <button class="filter-item">Makeup Removal</button>
                <button class="filter-item">Exfoliate</button>
                <button class="filter-item">Antioxidant</button>
                <button class="filter-item">Soothes</button>
                <button class="filter-item">Smoothes skin texture</button>
                <button class="filter-item">Tones</button>
                <button class="filter-item">Anti-waste</button>
                <button class="filter-item">Hydrate</button>
                <button class="filter-item">Strengthens</button>
                <button class="filter-item">Regenerates after UV exposure Strengthens</button>
            </div>
        </div>

        <div class="products-catalog">
            <div class="products-grid">

                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source
                                srcset="/img/products/classwing-mob-1.webp 1x, /img/products/classwing-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/classwing-desc-1.webp 1x, /img/products/classwing-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-375.jpg" alt="CLASSSWING" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">CLASSSWING</h3>
                        <span class="product-card-price">&#36;20</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <span>5.0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source srcset="/img/products/holocane-mob-1.webp 1x, /img/products/holocane-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/holocane-desc-1.webp 1x, /img/products/holocane-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-2-375.jpg" alt="HOLOCANE" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">HOLOCANE</h3>
                        <span class="product-card-price">&#36;23</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <span>5.0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source
                                srcset="/img/products/inamorata-mob-1.webp 1x, /img/products/inamorata-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/inamorata-desc-1.webp 1x, /img/products/inamorata-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-3-375.jpg" alt="INAMORATA" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">INAMORATA</h3>
                        <span class="product-card-price">&#36;12</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 4.5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <span>4.5</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source
                                srcset="/img/products/lightcool-mob-1.webp 1x, /img/products/lightcool-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/lightcool-desc-1.webp 1x, /img/products/lightcool-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-4-375.jpg" alt="LIGHTCOOL" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">LIGHTCOOL</h3>
                        <span class="product-card-price">&#36;22.5</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <span>5.0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button class="products-btn-more">Shop now</button>
        </div>
    </div>
</section>