<section class="products">
    <div class="products-container">

        <div class="products-header">
            <div class="products-header-text">
                <p class="products-label">All Products</p>
                <h2 class="products-title">Mild skincare & facial routine</h2>
            </div>
            <div class="products-filters swiper">
                <div class="swiper-wrapper">
                    <button class="swiper-slide btn-item-active">All needs</button>
                    <button class="swiper-slide">Protect</button>
                    <button class="swiper-slide">Regenerates</button>
                    <button class="swiper-slide">Revitalizes</button>
                    <button class="swiper-slide">Feeds</button>
                    <button class="swiper-slide">Regulates</button>
                    <button class="swiper-slide">Purifies</button>
                    <button class="swiper-slide">Makeup Removal</button>
                    <button class="swiper-slide">Exfoliate</button>
                    <button class="swiper-slide">Antioxidant</button>
                    <button class="swiper-slide">Soothes</button>
                    <button class="swiper-slide">Smoothes skin texture</button>
                    <button class="swiper-slide">Tones</button>
                    <button class="swiper-slide">Anti-waste</button>
                    <button class="swiper-slide">Hydrate</button>
                    <button class="swiper-slide">Strengthens</button>
                    <button class="swiper-slide">Regenerates after UV exposure Strengthens</button>
                </div>
            </div>
        </div>

        <div class="products-catalog">
            <div class="products-grid">

                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source
                                srcset="/img/products/classwing-mob-1.webp 1x, /img/products/classwing-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/classwing-desc-1.webp 1x, /img/products/classwing-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-375.jpg" alt="CLASSSWING" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">CLASSSWING</h3>
                        <span class="product-card-price">&#36;20</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <span class="rating-num">5.0</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source srcset="/img/products/holocane-mob-1.webp 1x, /img/products/holocane-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/holocane-desc-1.webp 1x, /img/products/holocane-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-2-375.jpg" alt="HOLOCANE" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">HOLOCANE</h3>
                        <span class="product-card-price">&#36;23</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <span class="rating-num">5.0</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source
                                srcset="/img/products/inamorata-mob-1.webp 1x, /img/products/inamorata-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/inamorata-desc-1.webp 1x, /img/products/inamorata-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-3-375.jpg" alt="INAMORATA" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">INAMORATA</h3>
                        <span class="product-card-price">&#36;12</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 4.5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star-half-empty"></use>
                                    </svg>
                                </li>
                            </ul>
                            <span class="rating-num">4.5</span>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-view">
                        <picture>
                            <source
                                srcset="/img/products/lightcool-mob-1.webp 1x, /img/products/lightcool-mob-2.webp 2x"
                                media="(min-width: 375px)">
                            <source
                                srcset="/img/products/lightcool-desc-1.webp 1x, /img/products/lightcool-desc-2.webp 2x"
                                media="(min-width: 1440px)">
                            <img src="path-to-image-4-375.jpg" alt="LIGHTCOOL" class="product-img">
                        </picture>
                    </div>
                    <div class="product-card-content">
                        <h3 class="product-card-title">LIGHTCOOL</h3>
                        <span class="product-card-price">&#36;22.5</span>
                        <div class="product-card-rating">
                            <ul class="product-rating" aria-label="Rating: 5 out of 5">
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="product-rating-item">
                                    <svg class="product-icon" width="20" height="20" aria-hidden="true">
                                        <use href="/img/icons.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <span class="rating-num">5.0</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="products-btn-more">Shop now
                <svg class="product-icon" width="31" height="19" aria-label="Логотип">
                    <use href="/img/icons.svg#arrow-right"></use>
                </svg></button>
        </div>
    </div>
</section>