<section class="sub-section">
    <div class="sub-container">
        <h2 class="sub-title">
            Subscribe to get 10% off your first order
        </h2>
        <div class="sub-form-input" role="group" aria-label="Newsletter signup">
            <form class="sub-form" id="subForm" action="#" method="POST">
                <label class="sub-label">
                    <input class="sub-input" name="email" type="email" placeholder="Drop your email here"
                        aria-label="Email address" required autocomplete="email" />
                </label>
                <button class="sub-btn" type="submit" aria-label="Subscribe">
                    <svg class="footer-icon-logo" width="50" height="32" aria-label="Логотип">
                        <use href="/img/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</section>