<section class="testimonials">
    <div class="testimonials-container">
        <!-- Лівий візуальний блок -->
        <div class="testimonials-img-box" aria-hidden="true">
            <!-- Зображення продукту -->
            <picture class="testimonials-img">
                <source srcset="
                        /img/testimonials/image.webp 1x,
                        /img/testimonials/image-2x.webp 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                          /img/testimonials/mob-image.webp 1x,
                          /img/testimonials/mob-image-2x.webp 2x
                        " media="(min-width: 375px)" />
                <img src="/img/testimonials/image-2x.webp" alt="velvety-holocena-bottle" />
            </picture>
            <!-- <img src="/img/testimonials/image-2x.webp" alt="velvety-holocena-bottle" class="testimonials-img" /> -->
            <svg class="background" width="343" height="538" aria-hidden="true">
                <use href="/img/icons.svg#background"></use>
            </svg>
        </div>
        <!-- Правий текстовий блок -->
        <div class="testimonials-content">
            <p class="testimonials-title">Product Testimonials</p>
            <div class="testimonial">
                <ul class="rating" aria-label="Rating: 5 out of 5">
                    <li class="rating-item">
                        <svg class="icon icon-star" width="35" height="34" aria-hidden="true">
                            <use href="/img/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li class="rating-item">
                        <svg class="icon icon-star" width="35" height="34" aria-hidden="true">
                            <use href="/img/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li class="rating-item">
                        <svg class="icon icon-star" width="35" height="34" aria-hidden="true">
                            <use href="/img/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li class="rating-item">
                        <svg class="icon icon-star" width="35" height="34" aria-hidden="true">
                            <use href="/img/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li class="rating-item">
                        <svg class="icon icon-star" width="35" height="34" aria-hidden="true">
                            <use href="/img/icons.svg#star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonial-quote">
                    “I’ve been feeling pretty stressed with my skin lately, so I picked up a set of HOLOCENA skincare.
                    Oh my goodness!. It
                    was AMAZING. My skin felt so soft and moisturized”
                </p>
                <p class="testimonial-author">- Customer Review</p>
            </div>
        </div>


        <div class="testimonials-controls" aria-label="Testimonials controls">
            <button class="controls-btn" type="button" aria-label="Next">
                <svg class="icon icon-arrow" width="41" height="29" aria-hidden="true">
                    <use href="/img/icons.svg#arrow-right"></use>
                </svg>
            </button>

            <ul class="controls-dot">
                <li class="controls-item">
                    <svg class="icon icon-dot" width="10" height="10" aria-hidden="true">
                        <use href="/img/icons.svg#dot"></use>
                    </svg>
                </li>
                <li class="controls-item">
                    <svg class="icon icon-dot" width="10" height="10" aria-hidden="true">
                        <use href="/img/icons.svg#dot"></use>
                    </svg>
                </li>
                <li class="controls-item">
                    <svg class="icon icon-dot" width="10" height="10" aria-hidden="true">
                        <use href="/img/icons.svg#dot"></use>
                    </svg>
                </li>
                <li class="controls-item">
                    <svg class="icon icon-dot" width="10" height="10" aria-hidden="true">
                        <use href="/img/icons.svg#dot"></use>
                    </svg>
                </li>
            </ul>

            <button class="controls-btn" type="button" aria-label="Previous">
                <svg class="icon icon-arrow" width="41" height="29" aria-hidden="true">
                    <use href="/img/icons.svg#arrow-left"></use>
                </svg>
            </button>
        </div>
    </div>
</section>