button {
    border: none;
    cursor: pointer;
}

.header {

    display: flex;
    justify-content: center;
}

.header-container {
    background: #ee8888;
    font-family: "Aileron", sans-serif;
    font-size: 16px;
    color: #f2f6ef;
    height: 78px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header-logo-container {
    fill: #f2f6ef;
    max-width: 112px;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.burger-icon {
    fill: #000;

}


.page,
.about,
.login {
    display: none;
}

.header-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 171px;
}


/* ====== Mobile - menu ====== */
/* delet this style */
/* .header-container {
    display: none;
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 375px;

}


.mobile-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 171px;
}

.mob-shop {}


.mobile-burger {
    display: flex;
    align-items: center;
    justify-content: center;

} */