.hero {
  background-color: #5cb0f573;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding: 28px 16px 32px;
  width: 375px;
  /* height: 744px; */
  margin: 0 auto;
  background-image: url(/img/hero/bg-hero-mob.webp);
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.hero-title {
  font-family: 'Bodoni Moda', sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: #f2f6ef;
}
.hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background: #f2f6ef;
  padding: 15px 32px;
  width: 190px;
  height: 52px;
}
.hero-cta-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #213721;
}
.hero-cta-icon {
  /* fill: #213721; */
  /* stroke: #213721; */
}
.hero-dots {
}
.dot {
}
