.products {
    background-color: #f2f6f0;
}

.products-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    border-bottom: 1px solid #c8d8c0;
    padding: 64px 16px;
    max-width: 375px;
    margin: 0 auto;
}

.products-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
}

.products-header-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    max-width: 343px;
}

.products-label {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    line-height: 1.1;
    color: #899f87;
}

.products-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.products-filters {
    max-width: 375px;
}

.swiper-slide {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #899f87;

    background-color: transparent;
    border: 1px solid #c8d8c0;
    border-radius: 40px;
    padding: 12px 16px;
}

.swiper {
    width: 100%;
}

.products-filters .swiper-slide {
    width: auto;
    display: flex;
} 

.btn-item-active {
    background-color: #e4ece0;
    border-color: #c8d8c0;
}

.products-catalog {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.products-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-card {
    border: 1px solid #c8d8c0;
}

.product-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    border-top: 1px solid #c8d8c0;
}

.product-card-title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
}

.product-card-price {
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 0.01em;
}

.product-card-rating {
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-rating {
    display: flex;
    gap: 4px;
}

.product-icon {
    fill: #3c5e39;
    display: block;
}

.rating-num {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    color: #3c5e39;
    height: 26px;
}

.products-btn-more {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;

    border: 1px solid #213721;
    padding: 0px 32px;
    height: 52px;

    font-family: var(--font-family);
    font-size: 16px;
    color: #213721;
}