.products {
    background-color: #f2f6f0;
}

.products-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    border-bottom: 1px solid #c8d8c0;
    padding: 64px 16px;
    max-width: 375px;
}

.products-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
}

.products-header-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.products-label {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    line-height: 1.1;
    color: #899f87;
}

.products-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.products-filters {

}

.filter-item {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #899f87;

    background-color: transparent;
    border: 1px solid #c8d8c0;
    border-radius: 40px;
    padding: 12px 16px;
}

.filter-item-active {}

.products-catalog {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.products-grid {}

.product-card {}

.product-card-view {}

.product-img {}

.product-card-content {}

.product-card-title {}

.product-card-price {}

.product-card-rating {}

.product-rating {}

.product-rating-item {}

.product-icon {}

.products-btn-more {}