/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./base.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./featured.css');
@import url('./about.css');
@import url('./contact.css');
@import url('./subscribe.css');
@import url('./footer.css');
