.sub-section {
    min-width: 375px;
    background-color: #899f87;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    padding: 64px 16px;
    margin: 0 auto;
}

.sub-title {
    font-family: "Bodoni Moda", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #f2f6ef;
    width: 343px;
}

.sub-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.sub-input {
    border: 1px solid #c8d8c0;
    padding: 20px;
    width: 255px;
    height: 72px;
    &::placeholder{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        color: #899f87;
    }
}

.sub-btn {
    border-bottom: 1px solid #c8d8c0;
    border-right: 1px solid #c8d8c0;
    border-top: 1px solid #c8d8c0;
    padding: 8px 18px;
    width: 87px;
    height: 72px;
    background-color: #fff;
}

.footer-icon-logo {
    fill: #213721;
}