.testimonials {
    background: #fff;
    margin: 0 auto;
}

.testimonials-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    
    border-bottom: 1px solid #c8d8c0;
    padding: 64px 16px;
    margin: 0 auto;
}

.testimonials-img-box {
    position: relative;
    width: 343px;
    height: 538px;
    margin: 0 auto;
}

.testimonials-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.38);
    max-width: 46%;
    z-index: 2;
}

.background {
    border-radius: 100%;
    display: block;
    width: 343px;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}

.testimonials-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    max-width: 343px;
}

.testimonials-title {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.1;
    color: #899f87;
}

.testimonial {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.rating {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.rating-item {}

.icon-star {
    fill: #899f87;
}

.testimonial-quote {
    font-family: "Bodoni Moda", serif;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #213721;
}

.testimonial-author {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #899f87;
}

.testimonials-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.controls-btn {
    background-color: transparent;
    fill: #213721;
    transform: rotate(180deg);
    padding: 0;
}

.controls-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

.controls-item {}


.icon-arrow {}

.icon-dot {}